# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://admin:123@localhost:3306/carwash?connection_limit=5&allowPublicKeyRetrieval=true"
TOKEN_SECRETKEY="Wv#ASTx@EM#ZfVURoFY4gaJRxhkhdMUGYr7o@gn!M9mcsMj99&pt4h4tz!Yi$Cv&oN9@PwAy2NtyooMtNKxX5EM4pkaN8jts#hHkCNMat9Z%5h#t$gRYeWcnbLgA%7sCxxKrTk#Jt3&Z!vdXv2kBeVf@2V9f!n4mp6Q2BpJw3v&yQGrrW@4^3jSK69mD&zy7&Z$jLE5#ZSJMW!aTZWsyYQU2dU5L2bv4R8DHP8bhpT7q&&n#n7ZB2GNkzNtxWXQ"